.apply-today {
  text-align: center;
  padding: 40px 20px;
  margin-bottom: 30px;
  background-color: #f5f5dc;
}
.apply-today h2 {
  font-size: 200px;
  margin-bottom: 50px;
}
.apply-today p {
  font-size: 100px;
  margin-bottom: 30px;
}

.form-div {
  display: flex;
  justify-content: center;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 30px;
}
form input,
form select,
form button {
  margin-bottom: 35px;
  padding: 80px;
  width: 100%;
  font-size: 100px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
form button {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 25px 45px;
  border-radius: 30px;
}
form button:hover {
  background-color: #0056b3;
}
