.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: space-between;
  background: #fff;
  padding: 15px;
  height: 80px;
}
ul {
  flex: 1;
  list-style: none;
  text-align: center;
}
ul li {
  display: inline-block;
  margin: 20px 20px;
  font-size: 30px;
  cursor: pointer;
}
.search-box {
  display: flex;
  align-items: center;
  background: #242424;
  padding: 5px 10px;
  border-radius: 30px;
}
.search-box input {
  padding: 10px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 120px;
}
.search-box input::placeholder {
  color: #fff;
}
