.footer {
  background-color: #333;
  color: white;
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tiltle-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tiltle-logo h2 {
  font-size: 40px;
  margin: 0;
}
.img- h2 {
  font-size: 20px;
}
.footer-list {
  display: flex;
  gap: 200px;
}
.footer-list div {
  flex: 1;
}
.footer-list h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.list-container li {
  margin-bottom: 5px;
}
.last {
  flex: 1;
}
.row p {
  margin: 0;
  font-size: 10px;
}
hr {
  border: 1px solid #555;
  margin: 5px 0;
  font-size: 25px;
}
