.footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tiltle-logo {
  display: flex;
  align-items: center;
  gap: 50px;
}
.tiltle-logo h2 {
  font-size: 100px;
  margin: 0;
}
.img- h2 {
  font-size: 40px;
}
.footer-list {
  display: flex;
  gap: 700px;
}
.footer-list div {
  flex: 1;
}
.footer-list h3 {
  font-size: 100px;
  margin-bottom: 15px;
}
.list-container li {
  margin-bottom: 10px;
}
.last {
  flex: 1;
}
.row p {
  margin: 0;
  font-size: 10px;
}
hr {
  border: 1px solid #555;
  margin: 20px 0;
  font-size: 60px;
}
